HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
bin/
tmp/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata
.loadpath
*.tmp
*.bak
*.swp
*~.nib
local.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Java ###
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
